<section class="mainInfo">
    <div class="job__pageNameRow mt-14 font-mont font-bold text-3xl text-main-blue border-b pb-2 border-main-blue border-opacity-10 mb-9">
        <div class="pageNameRow__Name">
            Job Details
        </div>
    </div>
    <div class="job__buttonRow mb-8">
        <button class="apply__button" (click)="onApply()">Apply Now</button>
    </div>
    <div class="job__titleRow flex flex-wrap">
        <h1 class="title font-mont text-2xl	text-main-blue font-bold mr-16">
            {{ data.title }}
        </h1>
        <div class="salary font-mont text-xl text-main-blue leading-6 font-bold">
            € {{ data.salary}}
           <br>
            <span class="text-lg font-normal">Euro, per year</span>
        </div>
        <div class="job__whenPosted basis-full font-roboto text-lg leading-6 text-sub-blue opacity-30 mt-2">
            Posted {{ data.createdAt }}
        </div>
    </div>
    <div class="job__description whitespace-pre-line font-roboto text-lg leading-6 text-main-blue">
        {{ data.description }}
    </div>
    <div class="job__buttonRow mb-20">
        <button class="apply__button" (click)="onApply()">Apply Now</button>
    </div>
</section>