<section class="mainInfo">
    <div class="job__pageNameRow mt-14 font-mont font-bold text-3xl text-main-blue border-b pb-2 border-main-blue border-opacity-10 mb-9">
        <div class="pageNameRow__Name">
            Job Details
        </div>
    </div>
    <div class="job__buttonRow">
        <button class="apply__button" (click)="onApply()">Apply Now</button>
    </div>
    <div class="job__titleRow flex">
        <h1 class="title">
            {{ data.title }}
        </h1>
        <div class="salary">
            {{ data.salary }}
        </div>
    </div>
    <div class="job__whenPosted">
        Posted {{ data.createdAt }}
    </div>
    <div class="job__description whitespace-pre-line">
        {{ data.description }}
    </div>
</section>